.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/old/
models/old/
scripts/old/
test
models/*.rds
protocol/*.rds
manuscript/author-contributions.docx
manuscript/author-contributions.pdf
manuscript/title-page.docx
manuscript/title-page.pdf
manuscript/letter-*
manuscript/*.docx
manuscript/preprint*
manuscript/revision
manuscript/revisions*
presentation